body{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}
#search-logo{ 
    display:flex;
    justify-content:center;
    padding:4vh;
    
}

#search-all{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#profile{
    border-radius: 50px;
    padding: 2px;
    margin : 8px;
}
#profile:hover{
    background-color: #e1e3e4;
    
}
.languge{
    text-align: center;
    padding: 5px 10px;
    margin:5px;
    font-size:13px;
}
.languge>a{
    padding:0px 3px;
    color:blue;
    font-size: 13px;
}

.search-button{
    padding:15px 0px 0px 0px;
    
    
}
button{
    appearance: none;
    background-color: #f8f9fa;
    margin:11px 10px;
    padding:10px 15px;
    font-weight:normal;
    border:none;
    border-radius: 3px;

}
#button-2{
    margin:1px;
    
}
#button-1{
    margin:1px 1px 1px 1px;
}



#button-2:hover{
    border:1px solid rgb(228, 227, 227);
    box-shadow:.5px .5px rgba(222, 223, 224, 0.993);
    border-radius: 3px;
    margin:0px;


}
#button-1:hover{
    border:1px solid rgb(228, 227, 227);
    box-shadow:.5px .5px rgb(224, 222, 222);
    border-radius: 3px;
    margin:0px;
}
footer{
    position:fixed;
    bottom: 0px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content:flex-end;
    
    background-color: rgb(247, 241, 241);
    width: 100%;
    height: fit-content;
   
}
#footer-list1>li{
    list-style-type: none;
    padding:10px 15px;
    margin:0px;
    color:#8b8d8d;
}
#footer-list1{
    margin:0px;
    padding:0px;
}

#footer1{
    display: flex;
    justify-content: left;

}
#footer1>li{
    padding:15px;
    margin:0px;
    color:#8b8d8d;
    font-size:14px;
}
#footer2{
    display: flex;
    justify-content:center;
}
#footer2>li{
    padding:15px;
    margin:0px;
    color: #8b8d8d;
    font-size: 14px;
    
}

#footer-list2{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    border-top: 1px solid #dadbdb
}


.navigation>ul{
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;

}
.navigation>ul>li{
    margin:2px 8px 2px 5px;
    padding:5px;
    
}
#apps{
    padding:6px;
}
#apps:hover{
    border-radius:50px;
    background-color: #d0d1d1;
}
a{
    text-decoration: none;
    color:inherit;
    
}
#mic{
    margin: 0px 10px 0px 10px;
    height:25px;
    width: 30px;
}
#ml{
    margin-left:10px;
    margin-right:10px;
    padding-top: 2px 5px 2px 8px;
    height: 20px;
    width: 20px;
}
a:hover{
    text-decoration:underline;
}
#search-boxm{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 554px;
    height:46px;
    border:1px solid #edf0f0;
    border-radius: 25px;
}
#search-boxm:hover{
    margin:1px;
    height:46px;
    border:none;
    box-shadow: 0 0 4px #d0d1d1;

}
#search-box{
    position:relative;
    width:487px;
    height:34px;
    border:none;
    outline:none;
    
}


}
#side-logo:hover{
    background-color:#e1e3e4;
}

